<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'external/css/style.css' %}">
</head>

<body>

    <div class="container">
        <div class="image-box">
            <img src="{% static 'external/image/registerImage.png' %}" alt="Register">
        </div>

        <form class="form-box" onsubmit="return validateForm()">
            <h2>Create Account</h2>

            <div class="form-group">
                <input type="text" id="name" placeholder="Full Name">
                <span id="nameError"></span>
            </div>

            <div class="form-group">
                <input type="email" id="email" placeholder="Email Address">
                <span id="emailError"></span>
            </div>

            <div class="form-group">
                <input type="password" id="password" placeholder="Password">
                <span id="passwordError"></span>
            </div>

            <div class="form-group">
                <input type="password" id="confirmPassword" placeholder="Confirm Password">
                <span id="confirmError"></span>
            </div>

            <button type="submit">Register</button>
        </form>
    </div>

    <script src="{% static 'external/js/script.js' %}"></script>
</body>

</html>